navbar {
    font-family: 'Ubuntu', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

header {
    background-color: #565554;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    padding: 0px 40px 0px 40px;
}

.logo-pet {
    height: 180%;
    width: auto;
}

.navbar,
.navbar-list {
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar {
    gap: 150px;
}

.navbar-list {
    gap: 30px;
}

.navbar-list-item {
    font-size: 15px;
    color: bisque;
}
